/** reset **/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.flexbox{
    display: flex;
}

button{
    padding: .8rem 1rem;
    border-radius: 2rem;
    border: none;
}

.discord-bk{
    background-color: #8ea1e1;
}

.discord-color{
    color: #8ea1e1;
}

header{
    background-image: url(./img/jumbo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: .5rem 20%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    height: 35rem;
}

header ul{
    list-style-type: none;
}

header ul>li{
    display: inline;
}

nav{
    justify-content: space-between;
}

.header-content{
    margin: 5rem 15% 0;
}
.header-content>*{
    margin-top: 2rem;
}

.header-content nav{
    justify-content: space-around;
}

main{
    padding: 8rem 20%;
}

.slide{
    justify-content: space-between;
}

.slide>img{
    width: 60%;
}

.slide>div{
    width: 28%;
}

.text>*{
    margin-top: 1rem;
}

.text>h2{
    font-size: 2.5rem;
}

main footer{
    text-align: center;
    margin: 8rem 20% 8rem;
}

main footer h3{
    font-size: 2rem;
    margin-top: 1rem;
}

.background{
    background-image: url(./img/stars.svg);
    padding: 1rem 2rem 0;
}

body>footer{
    padding: 5rem 15% 5rem;
    background-color: #23272a;
}

.elements{
    justify-content: space-between;
}

.column{
    margin-right: 3rem;
    width: 18%;
    font-size: 1.2rem;
}

#first-section{
    width: 32%;
    margin-right: 5rem;
    font-size: 1.6rem;
}

.language{
    margin-top: 1.5rem;
    height: 1.2rem;
}

select{
    color: white;
    background-color: #23272a;
    border: none;
    font-weight: bold;
}

body>footer>hr{
    height: 0;
    margin-top: 2rem;
}

body>footer ul{
    list-style-type: none;
}

body>footer li{
    margin-top: .8rem;
}

body>footer a{
    color: white;
    font-weight: bold;
}

body>footer a:link{
    text-decoration: none;
}

body>footer a:hover{
    text-decoration: underline;
    color: #8ea1e1;
}

.credits{
    margin-top: 2rem;
    justify-content: space-between;
}



